img { width: 800px;
max-width: 100%; }

body {
	background-color: burlywood;
	margin-left: 30px;
	font-family: "Trebuchet MS";
}
figure {
	display: block;
	margin: 0 auto;

}

div { 
	width: 800px;
	max-width: 100%;
}

header {
	text-align: center;
	background-color: sandybrown; 
	border: 3px solid black;
	width: 800px;
	max-width: 100%;
}

footer {
	background-color: sandybrown;
	border: 5px solid black;
	width: 800px;
	max-width: 100%;
}

aside {
	width: 800px;
	max-width: 100%;
}

.linkki {
  font-size: 24px;
}
.linkintausta {
	background-color: sandybrown; 
	border: 5px solid black;
}
figcaption {
	text-align: center;
	width: 800px;
	background-color: beige;
	font-style: italic;
}
.fancy { 
	width: 800px;
	max-width: 100%;
	text-align: left;
	margin-left: 0px;
	
}